body {
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #0c2f54;
}
.ploan1 {
    font-size: 16px;
    color: #000
}
.rupeesymbol {
    font-family: Arial
}
.docreq {
    font-size: 16px;
    color: #3f3f3f;
    font-weight: 300
}

.typed_wrap {
    display: block;
    height: auto;
    /*centers it in the .banner*/
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

    .typed_wrap h3 {
        display: inline;
    }

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
    opacity: 0;
    display: none;
}
/*Custom cursor animation*/
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 786px) {
    .m2 {
        font-size: 17px !important;
    }
}