.rdqlogo {
    margin-right: 45px;
    margin-bottom: 7px
}

.rdqlogodim {
    width: 200px;
    height: 25px;
    margin-top: 7px
}
.sidenav {
    background: #fff;
    color: #4a4b4b;
}
.l1 {
    border-radius: 23px;
    width: 95%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background: #fff;
}
.l2 {
    width: 70%;
    margin-left: 12px;
    margin-bottom: 3px
}
.l3 {
    font-size: 15px;
    color: #4a4b4b;
    text-align: center;
    margin-left: 35px;
}
.l4 {
    width: 42%;height:9%;text-align: center; padding: 10px 0px 10px 0px;background:#fff;margin-left: 37px;
}
.l5 {
    width: 42%;
    height: 9%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    background: #fff;
}
.l6 {
    font-size: 40px;
    color: #0046bb;
    margin-top: 0
}
.l7 {
    font-size: 13px;
    color: #0046bb;
}
.l8 {
    color: #8b8b8b;
    width: 100%;
    text-align: left;
    margin-left: 0
}

.l9 {
    background: #f6f7f8;
    padding: 2.5rem 2rem;
    transform: translateY(40px);
    z-index: 5;
    position: relative;
}
.l10 {
    color: black;
    font-size: 24px;
}
.fs12 {
    font-size: 12px;
}
.l11 {
    padding: .5rem .5rem;font-size: 12px
}

.l12 {
    margin-bottom: 20px;
    padding-left: 100px
}
.l13 {
    margin-bottom: 10px;
    margin-bottom: 25px;
    padding-top: 25px
}

.l14 {
    font-size: 20px;
    color: #fff;
    border: none
}
.l15 {
    margin-bottom: 20px;
    padding-left: 145px
}
.l16 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
}
.l17 {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}
.l18 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
}
.l19 {
    margin-bottom: 20px;
    padding-left: 120px
}
.l20 {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}
.l21 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
}
.l22 {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}
.l23 {
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white
}
.l24 {
    margin-bottom: 10px;
    padding-top: 25px
}
.l25 {
    font-size: 20px;
    color: #fff;
    border: none
}

.l26 {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}
.l27 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
    padding-left: 10px
}
.l28 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 10px;
}