@{
    ViewBag.Title = "About us- Rdq Finserv No 1 Fintech Company in Kolkata & India";
    ViewBag.description = "Rdq Finserv No 1 Fintech Company in Kolkata & India, Get Instant Personal Loan, Credit Cards, EMI protection, Consumer durables. Call:033-68260999";
    ViewBag.keyword = "online instant loan, apply credit card, personal loan, consumer finance, loan against securities, emi protection, emi calculator, consumer durables, best fintech company in kolkata & india, no 1 fintech company in kolkata, no 1 fintech company in north east india ";
    ViewBag.url = "https://rdqfinserv.com/about-us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
        @@media only screen and (max-width: 768px) {
        .te-1{
            font-size:18px!important;
        }
        .te-2{
            font-size:13.5px!important;
            line-height:20px;
        }
        .imgicon-2 {
                height: 36px !important;
                width: 34px !important;
                margin-top: -7px!important;
        }

        .lut1{
        padding-left: 0px !important;
        margin-left: 0px !important;
        font-size: 13px!important;
        }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%!important;
    }
            .title {
                font-size: 16px!important;
                color: black;
                text-align: justify!important;
            }

}
           .title{
               font-size:20px;
               color:black;
               text-align:left;
           }
         .pstyle{
            font-family: 'Open Sans',sans-serif;
            font-style: italic;
            border-left: 5px solid blue;
            padding-left: 10px;
        }
        .pstyler {
            font-family: 'Open Sans',sans-serif;
            font-style: italic;
            border-right: 5px solid blue;
            padding-right: 10px;
        }
        desg {
            color: #999999;
            font-size: 0.75rem;
            text-transform: uppercase;
            line-height: 0;
            letter-spacing: 2px;
            font-weight: 500;
        }
        .abt1 {
            margin-top: -138px!important;
        }
        .abt2 {
            margin-left: 238px !important;
            margin-bottom: 107px !important;
            margin-top: -20px!important;
        }
        .abt3 {
            padding: 2%;
        }


    .value {
        width: 100% !important;
        height: 681px;
    }

    .valuetext {
        margin-bottom: -38px !important;
    }
    .a2 {
        height: 527px
    }
    :root {
  --font-size: 0.8em;

  --bg1: #f5f8f7;
  --blue: #3498db;
  --green: #2ecc71;
  /* --purple: #9b59b6; */
  /* --gold: #f1c40f; */
  --red: #e74c3c;
  /* --orange: #e67e22; */
  --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
  --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}

main {
  padding: 2vw;
}

ul.infoGraphic {

  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  .p444 {
    position: relative;
    width: 100%;
    max-width: 21em;
    background: var(--bg1);
    border-radius: 0.5em;
    padding: 0.5em;
    z-index: 1;
    transition: all 0.2s;
    cursor: pointer;
    list-style:none ;
  }
  .numberWrap {
      position: absolute;
    }
    .number {
      font-family: "maven pro", sans-serif;
      font-size: 13em;
      font-weight: 900;
      width: 0.9em;
      text-align: center;
    }
      .fontColor1 {
        color: var(--red);
      }
      .fontColor2 {
        color: var(--blue);
      }
      .fontColor3 {
        color: var(--green);
      }


    .coverWrap {
      transform: rotate(130deg);
      position: absolute;
      width: 18em;
      height: 17em;
      left: -3em;
      top: 0em;
    }
    .numberCover {
        position: absolute;
        background: var(--bg1);
        width: 18em;
        height: 6em;
        border-radius: 50% 50% 0 0;
        border-bottom: 3px solid #f5f8f7;
        transition: all 0.4s;
       }
       .numberCover::before {
          position: absolute;
          content: "";
          bottom: 5px;
          left: 4em;
          right: 4em;
          top: 5em;
          box-shadow: 0 0 30px 17px #48668577;
          border-radius: 100px / 10px;
          z-index: -1;
        }
        .numberCover::after {
          position: absolute;
          bottom: 0;
          content: "";
          left: -10%;
          width: 120%;
          height: 150%;
          background: radial-gradient(
            at bottom,
            #48668533,
            transparent,
            transparent
          );
          z-index: 1;
        }

    .content {
      margin: 8em 3em 1em 7em;
      position: relative;
    }
      .p222 {
        font-size: 0.6em;
        font-weight: 300;
        text-align: center;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
        .p1 {
            line-height: 1.5em;
            margin-left: 20px;
            font-size:0.8rem;
        }



ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}



 /* Fontawesome Icons
 List: http://astronautweb.co/snippet/font-awesome/ */

.icon {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: -1.3em;
  left: 50%;
  transform: translate(-50%);
}
  .icon:before {
    color: #666;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }

    .iconCodepen:before {
    content: "\f1cb";
  }

    .iconSocial:before {
    content: "\f08a";
  }
    .iconAirplane:before {
    content: "\f1d9";
  }
 .iconMap:before {
    content: "\f278";
  }
  .iconBulb:before {
    content: "\f0eb";
  }
    .iconPeace:before {
    content: "\f25b";
  }


/*  General Layout */


@*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap");*@

html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

        .list1header {
            font-size: 19px !important;
            font-weight: 600 !important;
            line-height: 26px!important;
        }
    @@media screen and (max-width: 763px) {
        .a1 {
            margin-top: 111px!important;
        }
        .a2 {
            height: 747px!important;
        }
        #sp h2 {
            font-size: 4em!important;
        }
        .a3 {
            font-size: 18px;
        }
        .p1{
            margin-top:30px !important;
        }
        .p44{
            margin-top:-350px !important;
        }
    }

    @@media (max-width: 786px) {
       .abt3
        {
            padding-top: 159px!important;
        }
        .abt4 {
            margin-top: 128px !important;
        }
        .abt5 {
            margin-left: -367px;
        }
        .abt6 {
            margin-top: -95px !important;
        }
}

    </style>

    <style>
        .abt1 {
            margin-top: 81px;
        }
        .abt3{
            margin-top:-77px !important;
        }
        .abt-icon {
            margin-top: -150px;
        }
        .abt-no{
            margin-top:-160px!important;
        }
        .abt-com{
            margin-left:16px;
        }
        .abt2 {
            margin-top: 49px!important;
        }
        .value {
            width: 100% !important;
            height: 681px;
        }

    .valuetext {
        margin-bottom: -38px !important;
    }
    .a2 {
        height: 527px
    }
    :root {
  --font-size: 0.8em;

  --bg1: #f5f8f7;
  --blue: #3498db;
  --green: #2ecc71;
  --red: #e74c3c;
  --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
  --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}

main {
  padding: 2vw;
}

ul.infoGraphic {

  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  .p444 {
    position: relative;
    width: 100%;
    max-width: 21em;
    background: var(--bg1);
    border-radius: 0.5em;
    padding: 0.5em;
    z-index: 1;
    transition: all 0.2s;
    cursor: pointer;
    list-style:none ;
    margin-left:6px;
  }
  .numberWrap {
      position: absolute;
    }
    .number {
      font-family: "maven pro", sans-serif;
      font-size: 13em;
      font-weight: 900;
      width: 0.9em;
      text-align: center;
    }
      .fontColor1 {
        color: var(--red);
      }
      .fontColor2 {
        color: var(--blue);
      }
      .fontColor3 {
        color: var(--green);
      }


    .coverWrap {
      transform: rotate(121deg);
      position: absolute;
      width: 20em;
      height: 15em;
      left: -1em;
      top: 0em;
    }
    .numberCover {
        position: absolute;
        background: var(--bg1);
        width: 18em;
        height: 6em;
        border-radius: 50% 50% 0 0;
        border-bottom: 3px solid #f5f8f7;
        transition: all 0.4s;
       }
       .numberCover::before {
          position: absolute;
          content: "";
          bottom: 5px;
          left: 4em;
          right: 4em;
          top: 5em;
          box-shadow: 0 0 30px 17px #48668577;
          border-radius: 100px / 10px;
          z-index: -1;
        }
        .numberCover::after {
          position: absolute;
          bottom: 0;
          content: "";
          left: -10%;
          width: 120%;
          height: 150%;
          background: radial-gradient(
            at bottom,
            #48668533,
            transparent,
            transparent
          );
          z-index: 1;
        }

    .content {
      margin: 8em 3em 1em 7em;
      position: relative;
    }
      .p222 {
        font-size: 1.3em;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
        .p1 {
            line-height: 1.2em;
            margin-left: 6px;
            font-size:0.7rem;
        }



ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}



 /* Fontawesome Icons
 List: http://astronautweb.co/snippet/font-awesome/ */

.icon {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: -1.3em;
  left: 50%;
  transform: translate(-50%);
}
  .icon:before {
    color: #666;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }

    .iconCodepen:before {
    content: "\f1cb";
  }

    .iconSocial:before {
    content: "\f08a";
  }
    .iconAirplane:before {
    content: "\f1d9";
  }
 .iconMap:before {
    content: "\f278";
  }
  .iconBulb:before {
    content: "\f0eb";
  }
    .iconPeace:before {
    content: "\f25b";
  }


/*  General Layout */


@*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap");*@

html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


    @@media screen and (max-width: 763px) {
        .a1 {
            margin-top: 111px!important;
        }
        .a2 {
            height: 747px!important;
        }
        #sp h2 {
            font-size: 4em!important;
        }
        .a3 {
            font-size: 18px;
        }
        .p1{
            margin-top:30px !important;
        }
        .p44{
            margin-top:-350px !important;
        }
        .p444{
            margin-left:-15px;
            margin-top:15px;

        }
    }

    </style>
</head>
<!--About Us Page Css-->
<link href="~/Assets/css/about.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons-core.min.css" integrity="sha512-OmevVDECSDeo7M4G+Nvh0+VLVGS2XnEOkXWJcJ0TRom3GpGgc/ryQIgpRZw20mb5eR2U0sqsm33MaR8yD1zdsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="~/Assets/js/nicepage.js"></script>
<link href="~/Assets/css/about/nicepage.css" rel="stylesheet" />
<link href="~/Assets/css/about/about-us.css" rel="stylesheet" />
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
<link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Archivo+Black:400">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-----------------------------------Header Section Start-------------------------------------------->
<section class="u-clearfix u-gradient u-section-1" id="sec-0a76">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-subtitle u-text u-text-black u-text-1">
            &nbsp;<span class="u-icon u-text-custom-color-5 u-icon-1">
                <svg class="u-svg-content" viewBox="0 0 508.044 508.044" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <g>
                        <g>
                            <path d="M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938    s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303    C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z"></path>
                            <path d="M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599    c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371    C266.175,352.426,266.169,352.475,266.169,352.536z"></path>
                        </g>
                    </g>
                </svg><img>
            </span>&nbsp;<span style="font-weight: 700;">On a mission to create <fb>succ​ess</fb> story for millions of <fr>Indians</fr> what makes them <fb>happy</fb> with financial <fr>freedom</fr></span>&nbsp;



            <span class="u-icon u-text-custom-color-5 u-icon-2">
                <svg class="u-svg-content" viewBox="0 0 508.044 508.044" x="0px" y="0px" style="width: 1em; height: 1em; color:black !important">
                    <g>
                        <g>
                            <path d="M507.93,155.673c0-0.055,0.006-0.11,0.006-0.165c0-66.793-54.145-120.938-120.938-120.938S266.061,88.714,266.061,155.508    c0,66.794,54.15,120.938,120.938,120.938c13.727,0,26.867-2.393,39.162-6.609c-27.209,156.09-148.93,256.752-36.096,173.905    C515.182,351.874,508.07,159.198,507.93,155.673z"></path>
                            <path d="M120.938,276.445c13.727,0,26.867-2.393,39.168-6.609c-27.216,156.09-148.937,256.752-36.102,173.905    c125.117-91.867,118.006-284.543,117.865-288.068c0-0.055,0.006-0.11,0.006-0.165c0-66.793-54.144-120.938-120.937-120.938    C54.144,34.57,0,88.714,0,155.508C0,222.302,54.15,276.445,120.938,276.445z"></path>
                        </g>
                    </g>
                </svg><img>
            </span>
        </h2>
        <img class="u-image u-image-default u-image-1" src="~/Assets/images/about/rdq-finserv-about-header.png" alt="" data-image-width="3817" data-image-height="2722" data-animation-name="fadeIn" data-animation-duration="1500" data-animation-delay="0" data-animation-direction="Down">
        <h4 class="u-align-justify u-text u-text-2">
            <span style="font-size: 1rem;">
                <b>RDQ Finserv</b> was formed as an offshoot of the highly
                successful <b>RDQ Group</b>, a pioneer in
                the world of financial trading. As a <b>
                    Fintech
                    NBFC
                </b>, we seek to offer value-based financial products to people across
                India.​​ Based
                out of Kolkata, <b>RDQ Finserv</b> is the
                brainchild <b>of Mr Swarnendu Jana</b>, its
                MD and CEO. Initially created to address a consumer’s financial needs and cater
                to the growing demand for a technology-based personal credit line, the products
                we offer are all backed by a self-developed robust and efficient digital app.
            </span>
            <br>
        </h4>
    </div>
</section>
<!-----------------------------------Header Section End-------------------------------------------->
<!---------------------------------------Directors Section Start-------------------------------------------->
<section class="u-clearfix u-section-2" id="sec-9a95">
    <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
        <h2 class="u-align-center u-text u-text-custom-color-1 u-text-1" style="color:blue!important"> Our&nbsp;Leadership</h2>
        <div class="u-align-center u-shape u-shape-svg u-text-custom-color-1 u-shape-1">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 50" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b29"></use></svg>
            <svg class="u-svg-content" viewBox="0 0 160 50" x="0px" y="0px" id="svg-7b29" style="enable-background:new 0 0 160 50;color:black!important">
                <svg height="210" width="500">
                    <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(0,0,0);stroke-width:5" />
                </svg>
            </svg>
        </div>
    </div>
</section>

<div>
    <!---------------------------------------Swarnendu Jana-------------------------------------------->
    <div class="container">
        <div class="row" style="margin-bottom:7%">
            <div class="col-md-4">
                <img src="~/Assets/images/about/swarnendu-jana.jpg" class="img img-thumbnail" style="margin-top: 30px;" />
            </div>
            <div class="col-md-7" style="padding-top: 3%;">
                <p>
                    <strong class="title">We focus on leveraging technology into a scalable, user-friendly, easily accessible and highly cost-effective business model.  </strong>
                </p>
                <p style="text-align: justify; color: black;" class="pstyle">
                    <i style="margin-left:5px">  Mr. Jana, young, industrious and aspiring entrepreneur has a vision to transform the BFSI landscape by leveraging technology into scalable business model that is user friendly, easily accessible and highly cost effective and where the business motto is ingrained in strong customer focus, business ethics and corporate responsibility and beyond towards the society at large.</i>
                </p>
                <p style="text-align: justify; color: black;">
                    He has embarked on this journey way back in 2017 with the same vision and since then he is soaring to great heights and making a mark in the industry with an established technology, stock broking businesses to his name and now foraying in the NBFC space. He strives to work and deliver something more and that surpasses beyond expectation.
                    In his pastime he enjoys music and also follows the gentleman’s game called cricket.
                </p>
                <div style="text-align:left">
                    <h4><strong>Swarnendu Jana,</strong>   <desg>MD & CEO</desg></h4>

                </div>
            </div>
        </div>

    </div>
    <!---------------------------------------Mr. Pralay Brahmachari-------------------------------------------->

    <div class="container">
        <div class="row" style="margin-bottom:7%">
            <div class="col-md-7">
                <p>
                    <strong class="title">We passionately believe in RDQ Finserv and aspire to make this Fintech NBFC a force to reckon with in the industry</strong>
                </p>
                <p style="text-align: justify; color: black;" class="pstyler">
                    <i style="margin-right:5px">
                        We are not satisfied with scaling known peaks and hence seek to navigate through the unchartered waters of Eastern India’s economy and establish RDQ Finserv as a pioneer in this field. By making use of our robust in-house technology and widespread operations, we plan to bring financial convenience to every doorstep.
                    </i>
                </p>
                <p style="text-align: justify; color: black;">
                    No one understands the Fintech NBFC sector like he does. An enthusiast banker and a finance professional with over 20 years of experience in the industry, Mr Pralay Brahmachari’s achievements are too many to list. A front liner throughout his career, he has been instrumental in charting successful courses for many endeavours during his times with such renowned banking industry stalwarts like SREI BNP Paribas, Kotak-ING Vysya Bank, ICICI bank etc. Joining hands with the RDQ group gave him another opportunity to expand his horizon, but with a difference.
                </p>
                <p style="text-align: justify; color: black;">

                </p>
                <div style="text-align:left">
                    <h4><strong>Pralay Brahmachari, </strong><desg> Chief Operating Officer</desg></h4>
                </div>
            </div>

            <div class="col-md-4">
                <img src="~/Assets/images/about/pralay-brahmachari.jpg" class="img img-thumbnail" />
            </div>

        </div>

    </div>



    <!---------------------------------------Sanu Bhattacharya-------------------------------------------->


    <div class="container">
        <div class="row" style="margin-bottom:7%">
            <div class="col-md-4">
                <img src="~/Assets/images/about/sanu-bhattacharya.jpg" class="img img-thumbnail" />
            </div>
            <div class="col-md-7">
                <p>
                    <strong class="title">We build operating systems, networks and user-friendly apps that are convenient to understand and use.</strong>
                </p>
                <p style="text-align: justify; color: black;" class="pstyle">
                    <i style="margin-left:5px">We believe in leveraging technology to build a robust, path-breaking app that will form the backbone of RDQ Finserv. By realizing our dreams and developing path-breaking user-friendly apps, websites, networks etc., we can facilitate the digital transformation of RDQ Finserv.</i>
                </p>
                <p style="text-align: justify; color: black;">
                    A young seeker and achiever, Mr Sanu Bhattacharya, began his technical journey in the year 2018 with the RDQ group. His rise to becoming a technical officer and the backbone of RDQ Finserv’s digital app has been nothing less than meteoric. Sharing the vision of making RDQ Finserv a global leader in providing “Fintech” services, Mr Sanu Bhattacharya, with his keen technical eye and expertise, has been instrumental in setting up the technology required to fuel the robust operations of RDQ Finserv.
                </p>
                <div style="text-align:left">
                    <h4><strong>Sanu Bhattacharya, </strong><desg> Technology Officer</desg></h4>
                </div>
            </div>
        </div>

    </div>

</div>

<!---------------------------------------Directors Section End-------------------------------------------->
<!---------------------------------------Values Section Start-------------------------------------------->
<div id="sp" class="valuediv values ">
    <div class="container">
        <h2 class="valueheader">Values </h2>
        <h3 class="tp valuetext a3">
            Our values are anchored around our business ethics, consumer focus and
            corporate responsibility towards society at large.
        </h3>
        <br />
        <br>
        <br>
        <div class="row valuestep">
            <div class="col-sm-2"><p class="mp xyz">V</p> <h5 class="a44">Vision</h5></div>
            <div class="col-sm-2"><p class="mp xyz">A</p> <h5 class="a44">Action</h5></div>
            <div class="col-sm-2"><p class="mp xyz">L</p> <h5 class="a44">Leadership</h5></div>
            <div class="col-sm-2"><p class="mp xyz">U</p> <h5 class="a44 a9" style="margin-left:-20px">Understanding</h5></div>
            <div class="col-sm-2"><p class="mp xyz">E</p> <h5 class="a44">Ethics</h5></div>
            <div class="col-sm-2"><p class="mp xyz">S</p> <h5 class="a44">Service</h5></div>
        </div>
    </div>
</div>


<!---------------------------------------Values Section End-------------------------------------------->
<!---------------------------------------How It Works Start-------------------------------------------->

<style>
    :root {
        --red: hsl(0, 78%, 62%);
        --cyan: hsl(180, 62%, 55%);
        --orange: hsl(34, 97%, 64%);
        --blue: hsl(212, 86%, 64%);
        --varyDarkBlue: hsl(234, 12%, 34%);
        --grayishBlue: hsl(229, 6%, 66%);
        --veryLightGray: hsl(0, 0%, 98%);
        --weight1: 200;
        --weight2: 400;
        --weight3: 600;
    }



    .attribution {
        font-size: 11px;
        text-align: center;
    }

        .attribution a {
            color: hsl(228, 45%, 44%);
        }

    h1:first-of-type {
        font-weight: var(--weight1);
        color: var(--varyDarkBlue);
    }

    h1:last-of-type {
        color: var(--varyDarkBlue);
    }

    .header {
        text-align: center;
        line-height: 0.8;
        margin-bottom: 50px;
        margin-top: 100px;
    }

        .header p {
            margin: 0 auto;
            line-height: 2;
            color: var(--grayishBlue);
        }


    .box p {
        color: var(--grayishBlue);
    }

    .box {
        border-radius: 5px;
        box-shadow: 0px 30px 40px -20px var(--grayishBlue);
        padding: 30px;
        margin: 20px;
    }

    .imgicon {
        float: right;
        height: 80px;
        width: 80px;
    }

    @@media (max-width: 450px) {
        .box {
            height: 200px;
        }
    }

    @@media (max-width: 950px) and (min-width: 450px) {
        .box {
            text-align: center;
            height: 180px;
        }
    }

    .cyan {
        border-left: 3px solid var(--blue);
    }

    .red {
        border-top: 3px solid var(--red);
    }

    .blue {
        border-right: 3px solid var(--blue);
    }

    .orange {
        border-bottom: 3px solid var(--red);
    }

    }


    @@media (max-width: 950px) {
        .lc1 {
            margin-top: -75%;
            height: 50px;
            width: 50px;
            margin-left: 184px;
        }

        .ic2 {
            margin-top: -59%;
            height: 50px;
            width: 50px;
            margin-left: 184px;
        }

        .ic3 {
            margin-top: -69%;
            height: 50px;
            width: 50px;
            margin-left: 184px;
        }

        .ic4 {
            margin-top: -59%;
            height: 50px;
            width: 50px;
            margin-left: 184px;
        }

        .abwetit {
            margin-top: 0px !important;
            font-size: 17px !important;
            color: black !important;
        }

        .abwestit {
            color: black !important;
            font-size: 16px;
        }
    }

    @@media (min-width: 950px) {
        .row1-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .row2-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box-down {
            position: relative;
            top: 150px;
        }

        .box {
            width: 20%;
        }

        .header p {
            width: 30%;
        }

        .abwetit {
            color: black !important;
            font-size: 22px;
        }

        .abwestit {
            color: black !important;
            font-size: 16px;
        }
    }
</style>
<section class="u-align-center u-clearfix u-section-6 a10" id="carousel_9681">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width-xs u-shape u-shape-svg u-text-custom-color-3 u-shape-1">

        </div>
        <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1 p44" style="color:red!important"> How It Works?</h1>
        <div class="u-align-center u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
            <div class="col-lg-12">
                <ul class="infoGraphic">
                    <li class="p444">
                        <div class="numberWrap">
                            <div class="number fontColor1">1</div>
                            <div class="coverWrap">
                                <div class="numberCover"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="icon iconCodepen"></div>
                            <h3 class="p222">Quick Register</h3>
                            <h6 class="p1" style="">Fill the simple form</h6>
                        </div>
                    </li>
                    <li class="p444">
                        <div class="numberWrap">
                            <div class="number fontColor2">2</div>
                            <div class="coverWrap">
                                <div class="numberCover"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="icon iconSocial" style="margin-left:20px"></div>
                            <h3 class="p222" style="margin-left:35px">Multiple Offers</h3>
                            <h6 class="p1" style="margin-left:30px">List of offers from multiple banks</h6>
                        </div>
                    </li>
                    <li class="p444">
                        <div class="numberWrap">
                            <div class="number  fontColor3">3</div>
                            <div class="coverWrap">
                                <div class="numberCover"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="icon iconAirplane"></div>
                            <h3 class="p222">Apply</h3>
                            <h6 class="p1" style="margin-top:40px">Quick apply less than 2 minutes</h6>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
<!---------------------------------------How It Works End-------------------------------------------->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div>
                <h2 style="text-align:center">More Reason We Choose <fb> RDQ</fb></h2>
            </div>
            <div class="row1-container" style="margin-top: 4%;">
                <div class="box box-down cyan">
                    <p class="abwetit te-1" style="color:black">
                        Our Own Credit Model
                    </p>
                    <p class="abwestit te-2" style="color:black">Monitors activity to identify project roadblocks</p>
                    <img class="imgicon imgicon-2 lc1" src="~/Assets/images/about/crdit-model.png" alt="">
                </div>

                <div class="box red">
                    <p class="abwetit te-1" style="color:black">Anywhere In India</p>
                    <p class="abwestit te-2" style="color:black">Scans our talent network to create the optimal team for your project</p>
                    <img class="imgicon imgicon-2 ic2" src="~/Assets/images/about/india-map.png" alt="">
                </div>

                <div class="box box-down blue">
                    <p class="abwetit te-1" style="color:black">Quick Eligibility Check</p>
                    <p class="abwestit te-2" style="color:black">Uses data from past projects to provide better delivery estimates</p>
                    <img class="imgicon imgicon-2 ic3" src="~/Assets/images/about/quick-register.png" alt="">

                </div>
            </div>
            <div class="row2-container">
                <div class="box orange">
                    <p class="abwetit te-1" style="color:black">Entirely Paperless</p>
                    <p class="abwestit te-2" style="color:black">Regularly evaluates our talent to ensure quality</p>
                    <img class="imgicon imgicon-2 ic4" src="~/Assets/images/about/entirely-paperless.png" alt="">
                </div>
            </div>



        </div>

    </div>

</div>


















<!---------------------------------------How It Works End-------------------------------------------->
<!---------------------------------------More Reason  Start-------------------------------------------->
<!---------------------------------------More Reason  End-------------------------------------------->