
@{
    ViewBag.Title = "Rdq Finserv Consumer Durable Loans | Buy Electronics on EMI";
    ViewBag.description = "Apply for Rdq Finserv consumer durable loans to buy electronics products including mobile phones, laptops & cameras on easy EMI. Call:033-68260999";
    ViewBag.keyword = "consumer durables loans in kolkata, emi mobile, laptop emi, buy elctronics on emi, electronics loan eligibility, best fintech company in kolkata & india, no 1 fintech company in kolkata & india";
    ViewBag.url = "https://rdqfinserv.com/consumer-durables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    /* loading dots */

    .loading:after {
        content: ' .';
        animation: dots 1s steps(5, end) infinite;
    }

    @@keyframes dots {
        0%, 20% {
            color: rgba(0,0,0,0);
            text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
        }

        40% {
            color: red;
            text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
        }

        60% {
            text-shadow: .25em 0 0 red, .5em 0 0 rgba(0,0,0,0);
        }

        80%, 100% {
            text-shadow: .25em 0 0 red, .5em 0 0 red;
        }
    }
</style>
<section>
    <div class="container">
        <div class="col-md-12">
            <div class="section-heading wow fadeIn mb-1 text-center" data-wow-duration="0.3s">
                <h1 class="text-center" style="line-height: 1.3;">
                    Consumer Durables
                </h1>
                <span class="section-title-border text-center" style="margin-left:47%;margin-top:2%"></span>

            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row" style="padding-top:5%;">
                <div class="col-md-6 text-center">
                    <img src="~/Assets/images/consumer-durables/consumer-durable-header.png" class="mycard w-75 " style="box-shadow: none; margin-top: 12%; " alt="emi-protection">
                </div>
                <div class="col-md-6">
                    <h3 clas="text-center border-bottom personal-loan-eligibility" style="text-align:right"><strong><fb> Aap Ke</fb> <fr>Saath Bhi</fr>, <fb>Aap Ke</fb> <fr>Paas Bhi</fr> </strong></h3>
                    <p style="margin:4%;text-align:justify;color:black">
                        Need a laptop, a refrigerator or even a television to catch the ongoing cricket action live!<br />
                        Perhaps you want to renovate your home with new furniture!<br />
                        Do you ever feel the need to let go of your needs because of financial constraints?<br />
                        If you have a wish list, we can help you fulfil it!<br />
                        We, at RDQ Finserv, offer you the best consumer durable financing available. Our loans are hassle-free, easy to get and offer an affordable rate of interest.<br />
                        And...Availing of our loan also makes you eligible for the benefits, offers and deals we keep offering from time to time.<br />
                        So why wait anymore! Keep watching this space for lucrative deals!<br />
                        Grab them as soon as they come. Limited time offers do not last long and we do not want you to lose out!<br />

                    </p>
                </div>
            </div>
            <div class="section-heading wow fadeIn mb-1 text-center" data-wow-duration="0.3s">
                <h4 style="padding-top:20px; margin-bottom:0px;"><span style="color:blue">Coming </span><em class="loading"> Soon </em></h4>
                <span class="section-title-border text-center" style="margin-left:47%;margin-top:2%"></span>
               
            </div>
        </div>
    </section>
</section>

