
@{
    ViewBag.Title = "Apply Online Credit Cards in Kolkata & India | Rdq Finserv";
    ViewBag.description = "Apply best credit cards, instant approval credit cards & balance transfer offers. Call:033-68260999. Rdq Finserv no 1 fintech company in Kolkata & India";
    ViewBag.keyword = "online instant loan, apply credit card, personal loan, consumer finance, loan against securities, emi protection, emi calculator, consumer durables, best fintech company in kolkata & india, no 1 fintech company in kolkata, no 1 fintech company in north east india";
    ViewBag.url = "https://rdqfinserv.com/credit-card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
   
/* loading dots */

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: red;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 red,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 red,
      .5em 0 0 red;}
    }

</style>
<section>
    <div class="container">
        <div class="col-md-12">
            <div class="section-heading wow fadeIn mb-1 text-center" data-wow-duration="0.3s">
                <h1 class="text-center" style="line-height: 1.3;">
                    Credit Card
                </h1>

                <span class="section-title-border text-center" style="margin-left:47%;margin-top:2%"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Assets/images/credit-card/credit-card.png" class="mycard w-75 " style="box-shadow:none" alt="credit-card">
            </div>
            <div class="col-md-6">
                
                <h3 clas="text-center border-bottom personal-loan-eligibility" style="text-align:right"><strong><fb> satark raho</fb> <fr>savdhan raho</fr> </strong></h3>
                <p style="color:black;text-align:justify">
                    Carrying hard cash makes you vulnerable to pick-pocketers. So what do you do?<br />
                    The answer is simple. Carry credit cards!<br />
                    Credit cards are a convenient alternative to carrying hard cash. You can pay digitally and increase your capacity to spend. Today, credit cards come with a host of offers and features that enhance your transacting experience. Some popular features include movie ticket discounts, cash back on shopping, travel booking offers etc.<br />
                    While many banks and NBFCs offer credit cards, the RDQ Finserv credit card stands out because it is unique and hassle-free. The accompanying offers make it easy for you to fulfill your wish list.<br />
                    Keep watching this webpage for exciting offers and discounts specific to your needs!<br />

                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="section-heading wow fadeIn mb-1 text-center" data-wow-duration="0.3s">
                <h4 style="padding-top:20px; margin-bottom:0px;"><span style="color:blue">Coming </span><em class="loading"> Soon </em></h4>
                <span class="section-title-border text-center" style="margin-left:47%;margin-top:2%"></span>
            </div>
        </div>
    </div>
</section>

