@{
    ViewBag.Title = "Rdq Finserv: Get Online Instant Loans, Consumer Finance, Credit Card";
    ViewBag.description = "Rdq Finserv best fintech company in Kolkata & India. Get online instant loan, consumer finance, credit card. call:033-68260999";
    ViewBag.keyword = "online instant loan, apply credit card, personal loan, consumer finance, loan against securities, emi protection, emi calculator, consumer durables, best fintech company in kolkata & india, no 1 fintech company in kolkata, no 1 fintech company in north east india ";
    ViewBag.url = "https://rdqfinserv.com/";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/index.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<style>
    .indanimation {
        border-style: none;
        height: 88%;
        width: 88%;
        margin: 5%;
    }
    @@media
    only screen and (max-width: 768px) {

    }
</style>
<!-- Index Header Start -->
<section class="hello-india" style="padding: 3rem 0 5rem;">
    <div class="container">
        <div class="row">

            <!-- Left Content of header start-->
            <div class="col-md-6" style="margin-top:5%">
                <h2 class="text-center helloindia  wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s"> Hello India!</h2>
                <h1 class="text-center headersubject wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <span style="font-weight:500;" class="startdreaming"> Start Dreaming... <br /></span>
                    <span style="font-weight:700;font-size:42px"> We will make it happen!</span><span class="section-title-border cx2" style="margin-left:45%;margin-top:3%"></span>
                </h1>
                <div id="slog" style="line-height: 35px !important; min-height: 20px; max-height: 40px;"> &nbsp;<p id="text" style="font-size: 28px; color: #0046bb; " class="slogan2"></p> </div>
                <br />
                <a href="/Home/SignUp" class="btn getfinance" style="background: #ff0000; width: 65%; margin-left: 17%; font-size: 13px;">  <i class="fa fa-hand-o-right"></i> Get Finance </a>
            </div>
            <!-- Left Content of header End-->

            <div class="col-md-1"> </div>


            <!-- Right Content of header Start-->
            <div class="col-sm-5">

                <img src="~/Assets/images/index/ezgif.com-gif-maker.gif" class="indanimation"/>

                @*<img src="~/Assets/images/index/home1.png" class="img-fluid wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="margin-top:-130px" alt="rdq-finserv-pie-chart" />*@
                <a href="/Home/SignUp" class="btn  getfinance-mobile  i1"> <i class="fa fa-hand-o-right"></i> Get Finance </a>
            </div>
            <!-- Right Content of header End-->

        </div>
    </div>
</section>
<!-- Index Header End -->
<!-- Offerings Section  Start -->
<section class="know-more-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 section-heading  wow fadeInDown text-center l2" data-wow-duration="1s" data-wow-delay="0.5s">
                <h1>Know More About Our <span style="color: #ff0017;">Offerings</span></h1>
                <div class="line-dec" style="margin-left:48%"></div>
            </div>
        </div>

        <div class="row" style="padding-top:50px">

            <!--KEY FEATURES  Start -->

            <div class="col-md-4 keyfeatures">
                <p class="text-white keyfeatures">KEY FEATURES</p>
                <ul class="i3" style=" list-style-type: none;">
                    <li>
                        <div class="featured-box">
                            <h5 class="text-white">Loan Amount </h5>
                            <p class="text-6 text-white font-weight-600 keyfeaturesvalue">
                                <span class="font-weight-light">
                                    <span style="font-family: Arial">₹</span>25,000 - <span class="i2" style="font-family: Arial">₹</span>25,00,000
                                </span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="featured-box">
                            <h5 class="text-4 text-white featureskey">Loan Tenure</h5>
                            <p class="text-6 text-white font-weight-600 keyfeaturesvalue"> Up to 5 years</p>
                        </div>
                    </li>
                    <li>
                        <div class="featured-box">
                            <h5 class="text-4 text-white featureskey">Interest Rates starting at</h5>
                            <p class="text-6 text-white font-weight-600 keyfeaturesvalue"> 10.99%</p>
                        </div>
                    </li>
                </ul>
                <div class="keyfeaturesinterestrate">
                    <a href="#" class="text-warning ">
                    </a>
                </div>
            </div>

            <!--KEY FEATURES  End -->
            <!--Loan Advantage  Start -->
            <div class="col-md-8 bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center personalloanheader">
                            ADVANTAGES OF LOAN FROM <span class="i4"> RDQ FINSERV </span>
                        </h2>
                    </div>



                    <!--List of Advantage  Start -->
                    <!--Single advantage -->
                    <div class="col-lg-6">
                        <div class="shadow-sm mb-3 bg-white rounded mycard i5">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle">
                                    <img src="~/Assets/images/index/get-finance-through-our-digital-platform.jpg" style="width:45px; height:45px;" alt="get-finance-through-our-digital-platform" />
                                </div>
                                <h3 class="advantage-of-loan-texts">Get Finance through our digital platform </h3>
                            </div>
                        </div>
                    </div>

                    <!--Single advantage -->

                    <div class="col-lg-6">
                        <div class="shadow-sm mb-3 bg-white rounded mycard" style="padding: 5px;height: 82px;">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle">
                                    <img src="~/Assets/images/index/simple-application-form.jpg" style="width:45px; height:45px;" alt="simple-application-form" />
                                </div>
                                <h2 class="advantage-of-loan-texts"> Simple Application Form </h2>
                            </div>
                        </div>
                    </div>

                    <!--Single advantage -->

                    <div class="col-lg-6">
                        <div class="shadow-sm mb-3 bg-white rounded mycard" style="padding: 5px;height: 82px;">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle">
                                    <img src="~/Assets/images/index/kyc-other-verification.jpg" style="width:45px; height:45px;" alt="kyc-other-verification" />
                                </div>
                                <h3 class="advantage-of-loan-texts"> Ease of KYC & other verification through Online </h3>
                            </div>
                        </div>
                    </div>

                    <!--Single advantage -->

                    <div class="col-lg-6">
                        <div class="shadow-sm mb-3 bg-white rounded mycard" style="padding: 5px;height: 82px;">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle">
                                    <img src="~/Assets/images/index/simple-minimal-documentation.jpg" style="width:45px; height:45px;" alt="simple-minimal-documentation" />
                                </div>
                                <h3 class="advantage-of-loan-texts"> Simple and minimal documentation </h3>
                            </div>
                        </div>
                    </div>

                    <!--Single advantage -->

                    <div class="col-lg-6">
                        <div class="shadow-sm mb-3 bg-white rounded mycard" style="padding: 5px;height: 82px;">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle">
                                    <img src="~/Assets/images/index/zero-paper-work.jpg" style="width:45px; height:45px;" alt="zero-paper-work" />
                                </div>
                                <h3 class="advantage-of-loan-texts"> ZERO paper work </h3>
                            </div>
                        </div>
                    </div>


                    <!--Single advantage -->


                    <div class="col-lg-6">
                        <div class="shadow-sm mb-3 bg-white rounded mycard" style="padding: 5px;height: 82px;">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle">
                                    <img src="~/Assets/images/index/instant-sanction-of-loan.jpg" style="width:45px; height:45px;" alt="instant-sanction-of-loan" />
                                </div>
                                <h3 class="advantage-of-loan-texts">Instant sanction of loan </h3>
                            </div>
                        </div>
                    </div>


                    <!--Single advantage -->

                    <div class="col-lg-6">
                        <div class="shadow-sm mb-3 bg-white rounded mycard" style="padding: 5px;height: 82px;">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle">
                                    <img src="~/Assets/images/index/faster-disbursement-bank-account.jpg" style="width:45px; height:45px;" alt="faster-disbursement-bank-account" />
                                </div>
                                <h3 class="advantage-of-loan-texts"> Faster disbursement to your bank account</h3>
                            </div>
                        </div>
                    </div>

                    <!--Single advantage -->
                    <div class="col-lg-6">
                        <div class="shadow-sm mb-3 bg-white rounded mycard" style="padding: 5px;height: 82px;">
                            <div class="featured-box style-3">
                                <div class="featured-box-icon border border-primary text-primary rounded-circle">
                                    <img src="~/Assets/images/index/ease-payment-gateway.jpg" style="width:45px; height:45px;" alt="ease-payment-gateway." />
                                </div>
                                <h3 class="advantage-of-loan-texts"> Ease of repayment </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!--List of Advantage  Start -->
            </div>

            <!--Loan Advantage  End -->
        </div>
    </div>
</section>
<!-- Offerings Section  End -->
<!-- ***** Calculate Your Loan Amount Start ***** -->

<section class="calculate-your-loan-amount">
    <div id="loan_calculator">
        <div class="container">
            <div class="row">

                <div class="col-md-12 mt-3 section-heading  wow fadeInDown text-center" data-wow-duration="1s"
                     data-wow-delay="0.5s" style="font-family: 'Poppins', sans-serif;">
                    <h2>Calculate Your <span style="color: #ff0017;">Loan</span> Amount</h2>
                    <div class="line-dec" style="margin-left:48%"></div>
                </div>

            </div>
        </div>
    </div>




    <div class="emi-calculator">
        <div class="container shadow-sm p-3 mb-5 rounded bgdiv">

            <div class="row bg-white emicalculator">
                <div class="col-md-12 mt-3">
                    <h2 class="text-center">EMI CALCULATOR</h2>
                </div>
            </div>
            <!-- ***** Emi Calculator Body Start ***** -->
            <div class="row p-3 rounded">
                <div class="col-md-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="emicalculator" role="tabpanel"
                             aria-labelledby="emicalculator-tab">
                            <div class="row">
                                <!-- ***** Emi Calculator Inputs Start ***** -->
                                <div class="col-md-6 mb-3 shadow-sm p-3 mb-5 rounded">
                                    <div class="col-md-12">
                                        <label class="float-left">Loan Amount</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="range" min="10000" max="2500000" value="1051000" step="1000" class="slider mb-3 range rangec" id="amntinp">
                                        <label class="float-left" id="amntout"><span style="font-family: Arial">₹</span>1051000 </label>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <label class="float-left">Rate Of Interest</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="range" min="10" max="24" value="15" step="0.1" class="slider mb-3 range rangec" id="roiinp">
                                        <label class="float-left" id="roiout">15</label><span>% P.A</span>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <label class="float-left">Loan Duraion</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="range" min="1" max="5" value="3" step="1" class="slider mb-3 range rangec" id="durinp">
                                        <label class="float-left" id="durout">36</label><span>Months</span>
                                    </div>
                                </div>

                                <!-- ***** Emi Calculator Inputs Ends ***** -->
                                <!-- ***** Emi Calculator Output Start ***** -->
                                <div class="col-md-6 text-center">
                                    <div class=" p-3 mb-5 border rounded loanamount">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="float-left text-5 font-weight-600"><strong> Loan Amount:  </strong> </label>
                                                <label class="float-right text-5 font-weight-600"> <span style="font-family:Arial">₹</span><b id="amntout2">1051000</b><sup>*</sup> </label>
                                            </div>
                                            <div class="col-md-12"> </div>
                                            <div class="col-md-12">
                                                <ul style="list-style:none">
                                                    <li class="mb-3"> <div class="emiamount"><strong>EMI Amount</strong></div><span style="font-family:Arial">₹</span><b id="emiout2">42331</b> </li>
                                                    <li><div class="emiamount"><strong>Duration</strong></div> <span style="font-family: Arial"></span> <b id="durout2">36</b> Months</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ***** Emi Calculator Output Ends ***** -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Emi Calculator Body End ***** -->
        </div>
    </div>
</section>
<!-- ***** Calculate Your Loan Amount Start ***** -->
<!-- ***** App Section  Start ***** -->

<div id="app_section" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading header wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4>Get Instant Loan Using <span style="color:#ff0017"> RDQ Finserv</span> </h4>
                    <div class="line-dec"></div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <!-- ***** App ink section Start ***** -->
                                                    <div class="col-lg-6 align-self-center">
                                                        <h4 class="i6">
                                                            RDQ Finserv is a digital lending platform offers a complete
                                                            paperless experience.
                                                            Enjoy your journey to get easy finance...
                                                        </h4>
                                                        <div class="sudo glogo glogo sudom">
                                                        </div>
                                                        <div class="text-center mt-5">
                                                            <h4 class="s4 i7">

                                                                Our Lending Partners :
                                                                <span class="border-bottom border-3 s1">Contship Commodities Pvt. Ltd.</span><br />

                                                                 <span class="border-bottom border-3 s2">Maple Mercantile Pvt. Ltd.</span> <br />
                                                                <span class="s3">"RBI Approved NBFC"</span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <!-- ***** App ink section End ***** -->
                                                    <!-- ***** Mobile Hover section Start ***** -->
                                                    <div class="col-lg-6 ">
                                                        <div class="right-image">
                                                            <div class="imgov">
                                                                <img src="~/Assets/images/index/mobile-1.png" class="img " alt="mobile-1">
                                                                <img src="~/Assets/images/index/mobile-hover-2nd.png" class="img" alt="mobile-hover-2nd">
                                                            </div>
                                                            <div class="imgov-mobile">
                                                                <img src="~/Assets/images/index/mobile-both.png" class="img " alt="mobile-both"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- ***** Mobile Hover section End ***** -->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** App Section  Start ***** -->

<script src="~/Assets/js/index.js"></script>


