

@{
    ViewBag.Title = "Apply for Loan Against Securities Online in India | Rdq Finserv";
    ViewBag.description = "Apply for loan against securities online in India. Get loans against mutual funds, stocks & shares.Call:033-68260999 | Rdq Finserv best fintech company";
    ViewBag.keyword = "apply for loan against securities, loan gainst mutual fund, loan against stocks, loan against shares, loan against securities eligibilty, best fintech company in kolkata & india, no 1 fintech company in kolkata, no 1 fintech company in north east india";
    ViewBag.url = "https://rdqfinserv.com/loan-against-securities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    /* loading dots */

    .loading:after {
        content: ' .';
        animation: dots 1s steps(5, end) infinite;
    }

    @@keyframes dots {
        0%, 20% {
            color: rgba(0,0,0,0);
            text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
        }

        40% {
            color: red;
            text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
        }

        60% {
            text-shadow: .25em 0 0 red, .5em 0 0 rgba(0,0,0,0);
        }

        80%, 100% {
            text-shadow: .25em 0 0 red, .5em 0 0 red;
        }
    }
</style>



<section>
    <div class="container">
        <div class="col-md-12">

            <div class="section-heading wow fadeIn mb-1 text-center" data-wow-duration="0.3s">
                <h1 class="text-center" style="line-height: 1.3;">
                    Loan Against Securities
                </h1>
                <span class="section-title-border text-center" style="margin-left:47%;margin-top:2%"></span>
            </div>
        </div>


        <div class="row" style="padding-top:5%">
            <div class="col-md-5 text-center">
                <img src="~/Assets/images/loan-against-securities/loan-comming-soon.png" class="mycard w-75 " style="box-shadow:none" alt="emi-protection">
            </div>
            <div class="col-md-7">
                <h3 clas="text-center border-bottom personal-loan-eligibility"><strong>Understanding the basics of <fr>Loan</fr> against Securities</strong></h3>
                <p style="margin:4%;text-align:justify;color:black">
                    Have you ever faced a personal financial crunch?<br />
                    Or immediately needed money to fulfil an urgent need?<br />
                    Such circumstances are unprecedented. When they occur you feel frustrated. But not anymore!<br />
                    The emergence of a new and innovative concept, appropriately called the loan against securities(las) in India, will ensure that you never face such a situation again. Here, you pledge your financial assets to borrow the required capital.<br />
                    Traditionally, money could only be borrowed against securities like gold, property, vehicles, insurance policies, etc. But now you can also pledge your mutual fund investments and share certificates as securities.  You get instant liquidity against securities like shares and debentures, mutual fund investments etc., without actually selling them off. That is the USP of this product!
                </p>
            </div>
        </div>
    </div>
</section>

@*Personal Loan Eligibility Start**@
<section class="section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="shadow-sm p-3 mb-5 bg-white rounded  wow  fadeIn" data-wow-duration="0.3s">
                    <h2 class="text-center border-bottom personal-loan-eligibility">Banks Vs NBFC—The Better Option For Loan Against Securities</h2>

                    <p class="mb-3 mt-3 fadeIn wow text-dark" data-wow-duration="0.3s">
                        Both banks and NBFCs like RDQ Finserv, the <strong>no 1 finance company in Kolkata</strong>, offer Loan against Securities. The sheer number of lenders providing this facility might make it challenging to choose one in need. To ease your confusion and make this decision easier, let us briefly compare the features of the loan against securities available from banks and NBFCs. You can select your creditor after going through the same.
                    </p>
                    <br />

                    <div class="row">
                        <div class=" fadeInDown wow" data-wow-duration="0.3s">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Area</th>
                                        <th scope="col">Bank</th>
                                        <th scope="col">NBFC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Margin Requirement</td>
                                        <td>50% against equity/equity oriented mutual funds & lender’s discretion on debt/ debt based mutual funds</td>
                                        <td>50% against equity/equity oriented mutual funds & lender’s discretion on debt/ debt based mutual funds</td>
                                    </tr>
                                    <tr>
                                        <td> Maximum Cap on Loan Amount</td>
                                        <td>₹10,00,000 against physical shares</td>
                                        <td>₹20,00,000 against Demat shares	No capping on the loan amount</td>
                                    </tr>
                                    <tr>
                                        <td>Loan Processing</td>
                                        <td>Slow, tedious and time-consuming</td>
                                        <td>Swift and Easy</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p style="color:black;text-align:justify">
                                <br />
                                The above comparison proves beyond doubt that an NBFC or Non-Banking Financial Company is a safer, faster and more effective provider of loan against securities(las) in India. You can fund your cause without facing the usual loan approval and disbursement delays that are common to banks.
                                The absence of capping on the sanctioned loan amount makes the NBFC approval process very flexible. You can apply for a loan of any amount provided you have the required investments to offer as securities. The loan against securities interest rate will also vary accordingly.

                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@*Personal Loan Eligibility End**@




@*Personal Loan Eligibility Start**@
<section class="section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="shadow-sm p-3 mb-5 bg-white rounded  wow  fadeIn" data-wow-duration="0.3s">
                    <h2 class="text-center border-bottom personal-loan-eligibility">RDQ Finserv—Market leaders in providing Loan against Securities</h2>

                    <p class="mb-3 mt-3 fadeIn wow text-dark" data-wow-duration="0.3s">
                        When you want the best, you have to bond with the best!<br />
                        Being market leaders place certain responsibilities on us. We want to give you a hassle-free experience by keeping the system simple and swift.<br />
                        Now you can raise funds using your securities as collateral.<br />
                        Let us take a look at the process we follow at RDQ Finserv, the no 1 finance company in Kolkata West Bengal for raising a loan against securities.<br />
                    </p>
                    <h4 style="text-align:center">Documentation required to apply for this loan from RDQ Finserv</h4>
                    <hr />
                    <p class=" fadeIn wow text-dark" style="margin-left: 16%;">
                        To make it easy for you we have kept the process easy and uncomplicated.<br />
                        Checklist for documents required<br />
                        <i class="fa fa-check"></i> &nbsp;KYC or Know your customer documents based on RBI guidelines like identity proof, address proof etc<br />
                        <i class="fa fa-check"></i> &nbsp;Bank statements for the immediate past three months<br />
                        <i class="fa fa-check"></i> &nbsp;Latest Audited Financial statements like balance sheets, P&L, income statements, ITR/Net worth certificate etc<br />
                        <i class="fa fa-check"></i> &nbsp;Pledged security details/PMR reports<br />
                        <i class="fa fa-check"></i> &nbsp;Standard loan agreements as per RDQ Finserv.<br />
                        <i class="fa fa-check"></i> &nbsp;Additional documents as and when required on case to case basis<br />
                    </p>
                    <br />
                    <div class="row">
                        <h4 style="text-align:center">Actual process of applying for a Loan against Securities</h4><br />
                        <p class="mb-3 mt-3 fadeIn wow text-dark" data-wow-duration="0.3s">
                            The steps involved in the actual process of applying for the loan are given below.<br />
                            Step 1: Get in touch with your Relationship Manager to know the loan against securities eligibility criteria and the application process.<br />
                            Step 2: Submit details regarding your loan requirements and the security you will provide as collateral.<br />
                            Step 3: We will calculate and inform you about your estimated loan sanction value within 2 hours.<br />
                            Step 4: The loan application process is initiated with the pledging of securities with RDQ Finserv.<br />
                            Step 5: You submit all loan documents to RDQ Finserv.<br />
                            Step 6: The final loan approval takes less than 24hours.<br />
                            Step 7: Documentation of the Audit and Pledge acceptance by RDQ Finserv.<br />
                            Step 8: Instant loan disbursal through RTGS or NEFT to your bank account.<br />
                            Step 9: You receive the loan amount in your bank account in less than 48 hours.<br />
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@*Personal Loan Eligibility End**@

<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <h6 class="text-center border-bottom font-weight-600 document-required">FAQ</h6>
                <hr />
                <div class="accordion" id="accordionExample">


                    <!--Signle  Question & Answer Start-->
                    <div class="accordion-item">
                        <!-- Question Section Start-->
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Who is eligible to avail of the facility to take a Loan against Securities?
                            </button>
                        </h2>
                        <!-- Question Section End-->
                        <!-- Answer Section Start-->
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                To be eligible for obtaining a loan against your securities(las) in India, you have to fall under either of the below-given categories.<br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext"><strong>An Individual:</strong> If you are an individual, an Indian citizen, over 18 years of age and hold securities in the Indian financial markets, you are eligible to apply for a loan against your securities.</li>
                                    <li class="superherobullettext"><strong>Proprietorship or LLP:</strong> Owning a business or a Limited Liability Partnership (LLP) makes you eligible to apply for a loan against your investments, provided they pertain to the Indian share market.</li>
                                    <li class="superherobullettext"><strong>Private/Public Limited Company:</strong> If you are a Private or a Public Limited Company operating as a separate entity and hold investments with securities under your name, you become eligible to apply for the same.</li>
                                    <li class="superherobullettext"><strong>Private trust:</strong> A Private Trust is governed by the rules and regulations set by the Indian Trusts Act, 1882. This act ensures the proper management of properties held under a Trust and assigned for religious or private purposes. As per the loan against securities eligibility criteria, such entities are also eligible provided they hold securities in the financial market.</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Answer Section Start-->
                    </div>
                    <!--Signle  Question & Answer  End-->
                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2" aria-expanded="false" aria-controls="c2">
                                For what purposes can you take a Loan against Securities?
                            </button>
                        </h2>
                        <div id="c2" class="accordion-collapse collapse" aria-labelledby="h2" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                An Individual, Proprietor/LLP, Private or Public Limited Company or a Private Trust, anyone can apply for a loan against mutual fund to meet requirements related to:<br /><br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext"><strong>Business Working capital requirements: </strong> Every business needs an infusion of capital from time-to-time to fulfil its day-to-day working capital requirement. By taking a Loan against Securities, you can fund this requirement and lead the business towards profitability and future growth.</li>
                                    <li class="superherobullettext"><strong>Business expansion: </strong>If and when you feel the need to expand your business, you can avail of this loan provided you meet the criteria. Now creating and marketing a new product or opening a new branch in the same city or an office in a different city will no longer remain a distant dream. </li>
                                    <li class="superherobullettext"><strong>Capital market Investment: </strong>: A stock market is a place of high risk and high returns. If you want to increase your wealth and are confident about your stock picks, you can risk taking a loan against your present investments. This will raise the required liquidity and as you build your wealth over time, you can pay off the loan from the profits that you earn. The profitability of this deal depends on the loan against securities interest rate you pay. The lesser the interest rates the better will be the profitability. </li>
                                    <li class="superherobullettext"><strong>Any other personal use: </strong>You can also avail of this product to fulfil your personal needs like meeting the expenses for your child’s education, marriage, medical emergency or even to buy a home </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c3" aria-expanded="false" aria-controls="c3">
                                What are the lending terms and products offered?
                            </button>
                        </h2>
                        <div id="c3" class="accordion-collapse collapse" aria-labelledby="h3" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Loan against Securities can be availed of in two forms. A brief look at the two is given below.<br />
                                <br />
                                1.	Fixed terms loans: You can obtain a fixed-term loan against shares, mutual funds and bonds. The tenure ranges between 6 and 12months and the interest rates vary from 11% onwards.
                                <br />
                                2.	Overdraft facility: Herein, the tenure is of 12 to 24 months while the rate of interest varies from 11% onwards.

                            </div>
                        </div>
                    </div>


                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c4" aria-expanded="false" aria-controls="c4">
                                What parameters define credit underwriting?
                            </button>
                        </h2>
                        <div id="c4" class="accordion-collapse collapse" aria-labelledby="h4" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                All applications for loan against securities are reviewed for their creditworthiness before the loan is approved. This review is done based on certain parameters that include:<br /><br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext"><strong>Security analysis:  </strong> The tradable financial securities, that you present as collateral, are analysed to determine their proper value. This value determination is done keeping in mind the market fluctuations and other such factors that can adversely affect the value of your securities.</li>
                                    <li class="superherobullettext"><strong>Client profile, security provider and vintage:  </strong> This parameter helps lenders evaluate your financial status based on your market reputation and credibility. The number of years of operation or “vintage”, as it is commonly called, has a significant bearing on this, especially if the loan is taken for business purposes. </li>
                                    <li class="superherobullettext"><strong>Financial statements:  </strong> The financials that you submit, like your company balance sheet, income statement, cash flow statement etc., are evaluated before your loan against securities is approved. They also help determine your loan against securities eligibility. </li>
                                    <li class="superherobullettext"><strong>Repayment and credit bureau history:  </strong>This educates the vendors about your loan repayment history if any. Both the frequency of repayment and your past financial performance in repaying loans can be reviewed using your repayment and credit bureau history. </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c5" aria-expanded="false" aria-controls="c5">
                                How to determine which security to pledge?
                            </button>
                        </h2>
                        <div id="c5" class="accordion-collapse collapse" aria-labelledby="h5" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                If your investments are good enough to be held as collateral, you can use them to apply for a loan against securities. The security furnished is the key loan against securities eligibility criterion. For most NBFCs like RDQ Finserv, features of “good” security include:
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext"><strong>Marketability:</strong>The liquidity of the security is directly proportional to its acceptability as collateral.</li>
                                    <li class="superherobullettext"><strong>Stable and steady valuation:</strong>Securities that can hold their own during market fluctuations are considered stable securities. Such securities have greater acceptability. Highly volatile securities are considered to be risky and lenders refrain from accepting them. </li>
                                    <li class="superherobullettext"><strong>Ease of transfer:</strong>Securities that can be transferred easily are also considered to be good.</li>
                                    <li class="superherobullettext"><strong>Free from disabilities:</strong> Any disability attached to the security provided, be it physical documents, bonds or certificates, can complicate the loan approval process. The credit company loses confidence and chances of approval slim down. </li>
                                    <li class="superherobullettext"><strong>Dematerialized form:</strong>This is a preferred type of security as dematerialized securities are usually easier to store, transfer and liquidate.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c6" aria-expanded="false" aria-controls="c6">
                                Why take a loan from RDQ Finserv?
                            </button>
                        </h2>
                        <div id="c6" class="accordion-collapse collapse" aria-labelledby="h6" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                We provide you with facilities that are customised and unique. This makes the loan application process uncomplicated and hassle-free.<br /><br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext">We need no collateral other than the security you provide</li>
                                    <li class="superherobullettext">With our part prepayment facility, you can pay off a part of your loan before your closure date</li>
                                    <li class="superherobullettext">Our security swapping facility empowers you to exchange financial instruments with another party</li>
                                    <li class="superherobullettext">We offer you the lowest loan against securities interest rate available in the market today</li>
                                    <li class="superherobullettext">Instant loan approval in less than 24 hours</li>
                                    <li class="superherobullettext">Loan amount reaches your bank in less than 48 hours</li>
                                </ul>
                                Reach out to us for any further queries. We value your time and your sentiments. Our representatives are ever-ready to help.
                            </div>
                        </div>
                    </div>
                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c7" aria-expanded="false" aria-controls="c7">
                                What is Loan against Securities?
                            </button>
                        </h2>
                        <div id="c7" class="accordion-collapse collapse" aria-labelledby="h7" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Traditionally a loan against security could be obtained only against collaterals such as gold, property or car. Today the scenario has changed. Now you can pledge your stock market financial investments like shares, debentures, mutual funds etc., as collateral and obtain a loan. This innovative and unique credit service is known as ‘Loan against Securities’.
                            </div>
                        </div>
                    </div>
                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h8">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c8" aria-expanded="false" aria-controls="c8">
                                What is the maximum loan amount that I can take against my securities?
                            </button>
                        </h2>
                        <div id="c8" class="accordion-collapse collapse" aria-labelledby="h8" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                No upper limit has been fixed when availing of loans from NBFCs. However, when you avail of this service from the bank, the loan amount is fixed at ₹10 lakhs against physical shares. The loan against securities eligibility when applied against dematerialised shares is ₹20 lakhs.
                            </div>
                        </div>
                    </div>
                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h9">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c9" aria-expanded="false" aria-controls="c9">
                                Which entities are eligible for a Loan against Securities?
                            </button>
                        </h2>
                        <div id="c9" class="accordion-collapse collapse" aria-labelledby="h9" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                All Individuals, proprietary concerns, Limited Liability Partnerships, Private or Public Limited Companies and Private Trusts are eligible to apply for a loan against securities they hold in the Indian financial market.

                            </div>
                        </div>
                    </div>

                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h10">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c10" aria-expanded="false" aria-controls="c10">
                                For what purposes is such a loan taken?
                            </button>
                        </h2>
                        <div id="c10" class="accordion-collapse collapse" aria-labelledby="h10" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                A loan against securities(las) in India is usually taken to meet unprecedented and urgent requirements for funds. You can:
                                <br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext">Increase your business working capital</li>
                                    <li class="superherobullettext">Expand your business</li>
                                    <li class="superherobullettext">Raise money to invest in the capital market</li>
                                    <li class="superherobullettext">Fulfil personal requirements like marriage, higher education or medical emergencies</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h11">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c11" aria-expanded="false" aria-controls="c11">
                                What products are offered by different lenders under Loan against Securities?
                            </button>
                        </h2>
                        <div id="c11" class="accordion-collapse collapse" aria-labelledby="h11" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Most lenders offer two types of products. They are:<br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext">Fixed-term loans, with a tenure of 6 to 12months and an applicable loan against securities interest rate of 11% or higher, provided against shares, mutual funds, bonds, etc</li>
                                    <li class="superherobullettext"> Overdraft facility with a tenure of 12-24 months and a rate of interest of 11% onwards</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h12">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c12" aria-expanded="false" aria-controls="c12">
                                What parameters are reviewed by the lender before approving the loan?
                            </button>
                        </h2>
                        <div id="c12" class="accordion-collapse collapse" aria-labelledby="h12" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                The Credit Underwriting process reviews the loan application based on:<br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext">Security analysis</li>
                                    <li class="superherobullettext">Client profile, security provider, and Vintage </li>
                                    <li class="superherobullettext">Financial statements</li>
                                    <li class="superherobullettext"> Repayment and credit bureau history</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h133">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c13" aria-expanded="false" aria-controls="c13">
                                What should be the nature of my security to be eligible for loan against security?
                            </button>
                        </h2>
                        <div id="c13" class="accordion-collapse collapse" aria-labelledby="h13" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                When you provide good security, you become eligible for obtaining a loan against securities(las) in India. Securities are classified  ‘good’ if they:<br />

                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext">Are easily marketable</li>
                                    <li class="superherobullettext">Show a stable and steady valuation </li>
                                    <li class="superherobullettext">Can be transferred  easily </li>
                                    <li class="superherobullettext"> Have no associated disabilities</li>
                                    <li class="superherobullettext">Are dematerialized</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h14">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c14" aria-expanded="false" aria-controls="c14">
                                What is the documentation needed to apply for a loan from RDQ Finserv?
                            </button>
                        </h2>
                        <div id="c14" class="accordion-collapse collapse" aria-labelledby="h14" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                RDQ Finserv follows a very simple documentation process. The documents required to check your loan against shares eligibility include:<br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext">KYC (Know your customer) documents</li>
                                    <li class="superherobullettext">Lat 3 months bank statements </li>
                                    <li class="superherobullettext">Last audited financial statements and the ITR/Networth certificate </li>
                                    <li class="superherobullettext">Pledged security details/PMR reports </li>
                                    <li class="superherobullettext">Standard loan agreements as per RDQ Finserv </li>
                                    <li class="superherobullettext">Additional documents, required on a case-to-case basis </li>
                                </ul>
                            </div>
                        </div>
                    </div>   <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h15">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c15" aria-expanded="false" aria-controls="c15">
                                Will I need to furnish additional collateral with my loan application?
                            </button>
                        </h2>
                        <div id="c15" class="accordion-collapse collapse" aria-labelledby="h15" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                No additional collateral is required when you avail of a loan against securities from RDQ Finserv, the no 1 finance company in Kolkata West Bengal. Just pledging your security is enough for us
                            </div>
                        </div>
                    </div>   <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h16">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c16" aria-expanded="false" aria-controls="c16">
                                How long does the loan approval process take?
                            </button>
                        </h2>
                        <div id="c16" class="accordion-collapse collapse" aria-labelledby="h16" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                After you submit all the required details and certificates, we will offer you a probable loan sanction estimate with 2 hours. The actual loan against securities eligibility approval process takes 24 hours and the amount is transferred to your bank account within 48 hours.
                            </div>
                        </div>
                    </div>   <!--Signle  Question & Answer-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="h17">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c17" aria-expanded="false" aria-controls="c17">
                                Is the full value of my securities eligible as a loan?
                            </button>
                        </h2>
                        <div id="c17" class="accordion-collapse collapse" aria-labelledby="h10" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                When you pledge equity or equity-oriented mutual funds, the loan against mutual fund eligibility is up to 50% of the current market value. However, the margin on debt/debt-based mutual funds depends on the lender’s discretion.
                            </div>
                        </div>
                    </div>

                </div>
                <div style="align-items:center;margin-left:2%">
                    <p>For More Information   <a href="/Home/Support#submitticket"> Click Here </a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-heading wow fadeIn mb-1 text-center" data-wow-duration="0.3s">
    <h4 style="padding-top:20px; margin-bottom:0px;"><span style="color:blue">Coming </span><em class="loading"> Soon </em></h4>
    <span class="section-title-border text-center" style="margin-left:47%;margin-top:2%"></span>
  
</div>

