@{
    ViewBag.Title = "Apply Personal Loan Online in Kolkata & India | Rdq Finserv";
    ViewBag.description = "Apply for online personal loans in Kolkata & India at the lowest interest rate. Call:033-68260999 at  Rdq Finserv no 1 fintech company in Kolkata & India";
    ViewBag.keyword = "Apply online personal loans in kolkata, lowest interest rate loans, instant personal loan, personal loan eligibility, instant loan app, Rdq Finserv no 1 fintech company in Kolkata & India";
    ViewBag.url = "https://rdqfinserv.com/personal-loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="~/css/personal-loan.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
    <style>


    </style>
</head>


<body class="owl-lazy bg-white">
    @*Personal Loan Header Start**@
    <div class="container">
        <div class="col-md-12">

            <div class="section-heading wow fadeIn mb-1 text-center" data-wow-duration="0.3s">
                <h1 class="text-center" style="line-height: 1.3;">
                    Personal Loan
                </h1>
                <span class="section-title-border text-center" style="margin-left:47%;margin-top:2%"></span>
            </div>
            <br/>
                    <div class="typed_wrap">
                        <h2 class="m2">Be it a <fb><span id="typed2" class="typed"></span></fb></h2>
                    </div>
            <br/>
            <h2 style="text-align:center"> why spend from your <fr>pocket</fr>?</h2>

        </div>

        <div class="row">
            <div class="col-md-2 ">
            </div>
            <div class="col-md-12 text-center">
                <img src="~/Assets/images/personal-loan/Personal Loan NEW-01.jpg" style="box-shadow:none;width:78%!important" alt="emi-protection">
            </div>
            <div class="col-md-2 ">
            </div>
            
        </div>
    </div>
    @*Personal Loan Header End**@


    @*Personal Loan Eligibility Start**@
    <section class="section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="shadow-sm p-3 mb-5 bg-white rounded  wow  fadeIn" data-wow-duration="0.3s">
                        <h2 class="text-center hover-ripple border-bottom personal-loan-eligibility">Personal Loan Features</h2>


                        <p class="mb-3 mt-3 fadeIn wow text-dark">
                            Personal loan eligibility depends on certain significant factors like your fixed monthly income, your age and nature of employment, professional experience and CIBIL score etc. Personal details required for quick disbursal of personal loans from RDQ Finserv, the <strong>no 1 finance company in Kolkata West Bengal</strong>, include PAN Number, CIBIL score and your KYC documents.
                        </p>

                        <div class="row">
                            <div class="col-md-6 mb-3 fadeInDown wow" data-wow-duration="0.3s">
                                <p class="ploan1">
                                    Eligibility checklist for salaried/self-employed people:
                                </p>
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullet ml-3">Between the ages of 21 and 58 years</li>
                                    <li class="superherobullet">Minimum monthly income of ₹15,000 </li>
                                    <li class="superherobullet">1-year work experience</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    @*Personal Loan Eligibility End**@





    <!--6 Products of personal Loan start-->
    <section class="section" style="padding:5px 0">
        <div class="container">

            <!--Documents Required Start-->
            <div class="row mb-5">
                <div class="col-lg-5 my-auto text-center">
                    <img class="img-fluid rounded-lg  divhov text-center w-75" src="~/Assets/images/personal-loan/documents-required.jpg" alt="documents-required">
                </div>
                <div class="col-lg-7 d-flex">
                    <div class="my-auto px-0 px-lg-5 mx-2" style="padding-top:10px">
                        <h2 class="text-10 font-weight-600  hover-ripple document-required" style="color:#565859;">
                            Documents Required
                        </h2>

                        <div class=" mt-3 shadow-sm p-3   bg-white rounded divhov">
                            <p class="mb-3 mt-3 fadeIn wow text-dark">
                                Now that you know the eligibility criteria and find yourself eligible for the loan, let us look at the documents you need to submit
                            </p>

                            <p class="text-4 docreq">
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullet">Photo Identity Proof</li>
                                    <li class="superherobullet">Income Proof</li>
                                    <li class="superherobullet">Salary Slips</li>
                                    <li class="superherobullet">Address Proof documents</li>
                                    <li class="superherobullet">Employment Certificate</li>
                                </ul>
                            </p>
                            <p class="document-required-paragraph">
                                Know more about the documents required by visiting our low interest personal loans document page
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Documents Required End-->
            <!-- Importance of CIBIL Score Start-->
            <div class="row  mb-5 flex-column-reverse flex-sm-row">
                <div class="col-lg-7 d-flex">
                    <div class="my-auto px-0 px-lg-5 mx-2">
                        <h2 class="text-10 font-weight-600  hover-ripple document-required">CIBIL Score: Need and Importance</h2>
                        <div class=" mt-3 shadow-sm p-3   bg-white rounded divhov">
                            <p>
                                You must be wondering why the CIBIL score is so important. Let us first understand what a CIBIL Score is.<br />

                                By definition, the CIBIL Score represents the consumer’s credit score. It summarises the consumer’s credit history and redefines it in the form of a 3 digit number between the range of 300 and 900. This score reflects the person’s entire credit profile.<br />

                                It plays a decisive role in the personal loan Kolkata sanction process because:<br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullet">It gives us an indication of your credit status </li>
                                    <li class="superherobullet">It impacts your loan interest rates, tenure, amount and EMI </li>
                                </ul>
                                <br /> The more the CIBIL Score, the better are your chances of getting the loan. Ideally, to sanction a personal loan, a minimum score of 750 is mandatory
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 my-auto text-center">
                    <img class="img-fluid rounded-lg divhov text-center w-75" src="~/Assets/images/personal-loan/importance-of-cibil-score.jpg" alt="importance-of-cibil-score">
                </div>
            </div>
            <!-- Importance of CIBIL Score End-->
            <!-- Personal Loan EMI Calculator Start-->
            <div class="row  mb-5">
                <div class="col-lg-5 my-auto text-center">
                    <img class="img-fluid rounded-lg divhov text-center w-75" src="~/Assets/images/personal-loan/personal-loan-emi-calculator.jpg" alt="personal-loan-emi-calculator">
                </div>
                <div class="col-lg-7 d-flex">
                    <div class="my-auto px-0 px-lg-5 mx-2">
                        <h2 class="text-10 font-weight-600  hover-ripple document-required" style="color:#565859;">  Personal Loan EMI Calculator</h2>
                        <div class=" mt-3 shadow-sm p-3   bg-white rounded divhov">
                            <p>
                                With the CIBIL Score taken care of, you need to know the EMI you pay when you avail of a loan from us. There are two components to the EMI; the principal amount and the interest component.
                                <br />Use our personal loan EMI calculator to understand your comfort level regarding the:<br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullet">EMI amount</li>
                                    <li class="superherobullet">EMI Tenure</li>
                                </ul>
                                <br />
                                Proper planning is the key to a successful loan payoff. Our personal loan EMI calculator will help you to manage your monthly instalments efficiently.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Personal Loan EMI Calculator End-->
            <!-- Apply for a Personal Loan Start-->
            <div class="row  mb-5 flex-column-reverse flex-sm-row">
                <div class="col-lg-7 d-flex">
                    <div class="my-auto px-0 px-lg-5 mx-2">
                        <h2 class="text-10 font-weight-600  hover-ripple document-required" style="color:#565859;">
                            Apply for a Personal Loan
                        </h2>
                        <div class=" mt-3 shadow-sm p-3   bg-white rounded divhov">
                            <p>
                                The actual loan application process can be done in two different ways.<br />
                                To apply for the loan offline:<br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext">
                                        Visit our nearest RDQ Finserv branch or contact our representative over the phone
                                    </li>
                                    <li class="superherobullettext">
                                        Submit hard copies of the personal loan application along with the documents required
                                    </li>
                                </ul>
                                <br />
                                It takes a few days for us to process your application. If approved, we will inform you immediately about it.<br />
                                To get instant approval go online and apply for loan by:<br />
                                <ul class="personal-loan-eligibility-ul">
                                    <li class="superherobullettext">
                                        Registering on our app
                                    </li>
                                    <li class="superherobullettext">
                                        Acquiring loan eligibility
                                    </li>
                                    <li class="superherobullettext">
                                        Furnishing the required documents
                                    </li>
                                </ul>
                                <br />

                                Our experts will verify the application and the supporting documents submitted. The approval generally takes a few minutes and the amount gets credited to your bank account immediately after approval.<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 my-auto text-center">
                    <img class="img-fluid rounded-lg divhov text-center w-75" src="~/Assets/images/personal-loan/apply-for-a-personal-loan.jpg" alt="apply-for-a-personal-loan">
                </div>
            </div>
            <!-- Apply for a Personal Loan End-->
            <!--Personal Loan EMI options Start-->
            <div class="row mb-5">
                <div class="col-lg-5 my-auto text-center">
                    <img class="img-fluid rounded-lg divhov text-center w-75" src="~/Assets/images/personal-loan/personal-loan-emi-options.jpg" alt="personal-loan-emi-options">
                </div>

                <div class="col-lg-7 d-flex">
                    <div class="my-auto px-0 px-lg-5 mx-2">
                        <h2 class="text-10 font-weight-600  hover-ripple document-required" style="color:#565859;">Personal Loan EMI options</h2>
                        <div class=" mt-3 shadow-sm p-3   bg-white rounded divhov">
                            <p class="text-4 docreq">
                                As the no 1 finance company in Kolkata West Bengal, we offer you the facility to pay off your sanctioned loan amount in EMIs. You repay the principal loan amount and the interest consistently every month during the tenure of the loan. The calculation of the interest depends on the principal loan amount sanctioned.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!--Personal Loan EMI options End-->
        </div>
    </section>
    <!--6 Products of personal loan end-->
    <!--  6 reasons why you should choose us Start-->
    <section class="section" style="padding:5px 0 0;">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                    <h2 class="font-weight-600  document-required six-reason">
                        6 reasons why you should choose us
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-lg-0">
                    <div class="mycard six-reason-box-border">
                        <div class="mb-2 mt-2 text-center">
                            <img src="~/Assets/images/personal-loan/a-name-you-can-trust.png" class="w-25" alt="a-name-you-can-trust" />
                        </div>
                        <p class="six-reason-box-header">
                            RDQ Finserv is a name you can trust
                        </p>

                        <p class="text-3 six-reason-box-text">
                            Your desires and needs are paramount for us. When you approach us, we listen to you, guide you at every step and offer personalised financial solutions.
                        </p>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-lg-0">
                    <div class="mycard six-reason-box-border">
                        <div class="mb-2 mt-2 text-center">
                            <img src="~/Assets/images/personal-loan/collateral.png" class="w-25" alt="collateral" />
                        </div>
                        <p class="six-reason-box-header">
                            Loan sanction without collateral
                        </p>

                        <p class="text-3 six-reason-box-text">
                            Yes, you heard it right! We feel your dreams should not suffer for want of collateral. We have done away with the need for security to cover the personal loan sanctioned for you.
                        </p>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-lg-0">
                    <div class="mycard six-reason-box-border">
                        <div class="mb-2 mt-2 text-center">
                            <img src="~/Assets/images/personal-loan/flexible.png" class="w-25" alt="flexible" />
                        </div>
                        <p class="six-reason-box-header">
                            Loan flexibility
                        </p>

                        <p class="text-3 six-reason-box-text">
                            This rules every aspect of our loan. You choose the EMI amount and your EMI tenure. No worries, No tension. You pay off your loan the way you want.
                        </p>
                        <br />
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mb-lg-0">
                    <div class="mycard six-reason-box-border">
                        <div class="mb-2 mt-2 text-center">
                            <img src="~/Assets/images/personal-loan/interest-rates.png" class="w-25" alt="interest-rates" />
                        </div>
                        <p class="six-reason-box-header">
                            Attractive rate of interest
                        </p>

                        <p class="text-3 six-reason-box-text">
                            Competitive, affordable and tailored to your convenience and ability to pay, our interest rates attract because we understand you and feel for you.
                        </p>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-lg-0">
                    <div class="mycard six-reason-box-border">
                        <div class="mb-2 mt-2 text-center">
                            <img src="~/Assets/images/personal-loan/tailor-made-loans.png" class="w-25" alt="tailor-made-loans" />>
                        </div>
                        <p class="six-reason-box-header">
                            Customised loan
                        </p>

                        <p class="text-3 six-reason-box-text">
                            Satisfaction through personalisation. This is our motto. We strive to ensure your satisfaction because you are not just a form to us. We know needs and capabilities vary. That one solution does not fit all.
                        </p>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-lg-0">
                    <div class="mycard six-reason-box-border">
                        <div class="mb-2 mt-2 text-center">
                            <img src="~/Assets/images/personal-loan/make-you-run-around.png" class="w-25" alt="make-you-run-around" />
                        </div>
                        <p class="six-reason-box-header">
                            Fast TAT
                        </p>

                        <p class="text-3 six-reason-box-text">
                            Minimum documentation and loan approval within minutes. That is the way we work. You submit some mandatory information like your income and purpose for your loan. We take care of the rest and transfer the amount to your bank.
                        </p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  6 reasons why you should choose us End-->
    <!-- Personal Loan Faq Start-->
    <section class="section bg-white">
        <div class="container">
            <div class="row">

                <div class="col-md-12 ">
                    <div class="shadow-sm p-3 mb-5 bg-white rounded">
                        <h6 class="text-center border-bottom font-weight-600 document-required">FAQ</h6>
                        <hr />
                        <div class="accordion" id="accordionExample">


                            <!--Signle  Question & Answer Start-->
                            <div class="accordion-item">
                                <!-- Question Section Start-->
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What basic requirements do you need to fulfil to get your personal loan approved?
                                    </button>
                                </h2>
                                <!-- Question Section End-->
                                <!-- Answer Section Start-->
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        The process is swift and easy. You provide us with the required details like your PAN number, CIBIL Score and KYC documents, copies of your payslips,
                                        bank statements and address proof. For more details, go through our Personal loan eligibility and Documents required sections.
                                    </div>
                                </div>
                                <!-- Answer Section Start-->
                            </div>
                            <!--Signle  Question & Answer  End-->
                            <!--Signle  Question & Answer-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2" aria-expanded="false" aria-controls="c2">
                                        What is the maximum amount of personal loan that you are eligible for?
                                    </button>
                                </h2>
                                <div id="c2" class="accordion-collapse collapse" aria-labelledby="h2" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We, at RDQ Finserv, provide loans starting from ₹25,000 to a maximum of ₹3, 00,000. We approve of the loan amount depending on your eligibility.
                                    </div>
                                </div>
                            </div>

                            <!--Signle  Question & Answer-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c3" aria-expanded="false" aria-controls="c3">
                                        How much EMI do you need to pay?
                                    </button>
                                </h2>
                                <div id="c3" class="accordion-collapse collapse" aria-labelledby="h3" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        The EMI or equated monthly instalment you pay will depend on 3 factors:
                                        <ul class="personal-loan-eligibility-ul">
                                            <li class="superherobullettext">Your principal or approved loan amount</li>
                                            <li class="superherobullettext">Your loan tenure </li>
                                            <li class="superherobullettext">The rate of interest. </li>
                                        </ul>
                                        But with us, you can select your EMI based on your convenience by using our online personal loan EMI calculator.
                                    </div>
                                </div>
                            </div>


                            <!--Signle  Question & Answer-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c4" aria-expanded="false" aria-controls="c4">
                                        How to calculate your EMI using our personal loan EMI calculator?
                                    </button>
                                </h2>
                                <div id="c4" class="accordion-collapse collapse" aria-labelledby="h4" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Just input the following information and our calculator will do the rest.
                                        1.	Loan amount your wish to apply for<br />
                                        2.	Personal loan interest rate<br />
                                        3.	Loan tenure, select anything between 06 and 36 months<br />
                                        4.	Click on the Calculate button<br />
                                        The system will display your EMI complete with the break-up of the principal amount to be repaid and the interest to be paid.<br />
                                        If this EMI is higher or lower than what you seek to pay, repeat the steps from 2 to 4.
                                    </div>
                                </div>
                            </div>


                            <!--Signle  Question & Answer-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c5" aria-expanded="false" aria-controls="c5">
                                        When should you opt for a personal loan?
                                    </button>
                                </h2>
                                <div id="c5" class="accordion-collapse collapse" aria-labelledby="h5" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        You can apply for instant loan for a variety of reasons like:
                                        <ul class="personal-loan-eligibility-ul">
                                            <li class="superherobullettext">Travel—Visit your dream destination</li>
                                            <li class="superherobullettext">Education—Gift your child the future he/she deserves</li>
                                            <li class="superherobullettext">Wedding—Celebrate  the best day of your life with a fairy tale wedding</li>
                                            <li class="superherobullettext">Medical—Provide your loved ones with the best in medical care </li>
                                            <li class="superherobullettext">Debt Consolidation—Repay off your costlier loans and ease your burden </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Signle  Question & Answer-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h6">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c6" aria-expanded="false" aria-controls="c6">
                                        Do your need to provide collateral for availing of the personal loan?
                                    </button>
                                </h2>
                                <div id="c6" class="accordion-collapse collapse" aria-labelledby="h6" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        No need for collateral when you apply for a personal loan from us at RDQ Finserv. The collateral-free feature of this loan makes it one of the best personal loans currently available in the market.
                                    </div>
                                </div>
                            </div>
                            <!--Signle  Question & Answer-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h7">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c7" aria-expanded="false" aria-controls="c7">
                                        How long does it take for a personal loan application to get approved?
                                    </button>
                                </h2>
                                <div id="c7" class="accordion-collapse collapse" aria-labelledby="h7" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Apply online and get your loan application approved within minutes. If you apply offline, the approval process takes a few business days.
                                    </div>
                                </div>
                            </div>
                            <!--Signle  Question & Answer-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h8">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c8" aria-expanded="false" aria-controls="c8">
                                        Does a personal loan affect your credit score?
                                    </button>
                                </h2>
                                <div id="c8" class="accordion-collapse collapse" aria-labelledby="h8" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Like any other form of credit, a personal loan provides you with an opportunity to build creditworthiness and improve your CIBIL score.
                                        Paying off your EMIs with regular frequency to ensure loan repayment within the fixed tenure, will automatically improve your credit score.
                                    </div>
                                </div>
                            </div>
                            <!--Signle  Question & Answer-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="h9">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c9" aria-expanded="false" aria-controls="c9">
                                        Can you claim tax benefits on a personal loan?
                                    </button>
                                </h2>
                                <div id="c9" class="accordion-collapse collapse" aria-labelledby="h9" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        The purpose of your instant personal loan decides whether you can apply for tax benefits on the same. The Income Tax Act allows you to claim tax benefits for personal loans on:
                                        <ul class="personal-loan-eligibility-ul">
                                            <li class="superherobullettext"><strong>Education:</strong> Claim tax benefits on interests paid up to ₹1,50,000 under Section 80E of the IT Act for personal loans taken to fund higher education.</li>
                                            <li class="superherobullettext"><strong>Purchase, renovation and renting of property:</strong>As per Section 24 of the IT Act, for self-owned houses, you can claim tax benefits of up to ₹2,00,000 for the interest you pay. If you take a personal loan to fund a rented house, the tax benefit can be claimed on the total interest paid. </li>
                                            <li class="superherobullettext"><strong>Business expansions:</strong>Your loan interest gets added to your acquisition cost and reduces your capital gains and tax liability.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="align-items:center;margin-left:2%">
                            <p>For More Information   <a href="/Home/Support#submitticket"> Click Here </a></p>
                        </div>
                    </div>

                </div>

                <!-- Personal oan Faq End-->
                <!-- Customer Speak Start-->
                <div class="col-md-12 ">
                    <div class="shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h6 class="text-center border-bottom font-weight-600 document-required">Customer Speak</h6>
                                <hr />
                            </div>

                            <!-- Customer Speak List Start-->
                            <div class="col-md-12 ">
                                <div class="featured-box text-center">
                                    <div class="owl-carousel owl-theme" data-autoplay="true" data-loop="true" data-nav="true" data-margin="30" data-items-xs="1" data-items-sm="2" data-items-md="2" data-items-lg="3">
                                        <!-- Single Customer Speak -->
                                        <div class="item">
                                            <div class="card">
                                                <img src="~/Assets/images/personal-loan/customer-speak/education.jpg" class="rounded mx-auto d-block w-50" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Education Loan</h5>
                                                    <hr />
                                                    <div class="middle">
                                                        <div class="text-left">
                                                            Why should money stand in the way of education? Let our personal loan help you to soar high in your quest for knowledge.
                                                            it is for your higher studies or <a style="color:blue" href="#">Apply Now</a>!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Customer Speak -->

                                        <div class="item">
                                            <div class="card ">
                                                <img src="~/Assets/images/personal-loan/customer-speak/medical.jpg" alt="medical" class="rounded mx-auto d-block w-50" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Medical Loan</h5>
                                                    <hr />
                                                    <div class="middle">
                                                        <div class="text-left">
                                                            Want to keep your family safe from all ailments. Gift the wealth of health to your near and dear ones with our personal loan.
                                                            <a style="color:blue" href="#">Apply Now</a>!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Customer Speak -->

                                        <div class="item">
                                            <div class="card">
                                                <img src="~/Assets/images/personal-loan/customer-speak/travel.jpg" class="rounded mx-auto d-block w-50" alt="travel" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Travel Loan</h5>
                                                    <hr />
                                                    <div class="middle">
                                                        <div class="text-left">
                                                            Do you have a destination bucket list? Now is the time to fulfil it. Gain new experiences and discover new places with our personal loan.
                                                            <a style="color:blue" href="#">Apply Now</a>!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Customer Speak -->

                                        <div class="item">
                                            <div class="card">
                                                <img src="~/Assets/images/personal-loan/customer-speak/home-rennovation.jpg" class="rounded mx-auto d-block w-50" alt="home-rennovation" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Home Renovation Loan</h5>
                                                    <hr />
                                                    <div class="middle">
                                                        <div class="text-left">
                                                            Want to renovate or repair your home? Redesign and redecorate your house and make it the perfect dream home with our personal loan. <a style="color:blue" href="#">Apply Now</a>!

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Customer Speak -->

                                        <div class="item">
                                            <div class="card">
                                                <img src="~/Assets/images/personal-loan/customer-speak/wedding.jpg" class="rounded mx-auto d-block w-50" alt="wedding" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Wedding Loan</h5>
                                                    <hr />
                                                    <div class="middle">
                                                        <div class="text-left">
                                                            Thinking of a destination wedding! Have the perfect fairytale wedding with our affordable and hassle-free personal loan.
                                                            <a style="color:blue" href="#">Apply Now</a>!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Customer Speak List End-->
                        </div>
                    </div>
                </div>
                <!-- Customer Speak End-->
            </div>
        </div>
    </section>
    <script>
        function bigImg(x) {
            x.style.color = "blue";
        }

        (function () {
            var words = [
                'travel to a fancy destination,',
                'medical emergency,',
                'wedding,',
            ], i = 0;
            setInterval(function () {
                $('#changerificwordspanid').fadeOut(function () {
                    $(this).html(words[i = (i + 1) % words.length]).fadeIn();
                });
            }, 2000);

        })();
        /*$(document).ready(function () {*/
        $("#typed2").typed({
            strings: ["wedding,", "travel,", "medical emergency,"],
            // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
            stringsElement: null,
            // typing speed
            typeSpeed: 100,
            // time before typing starts
            startDelay: 1200,
            // backspacing speed
            backSpeed: 20,
            // time before backspacing
            backDelay: 500,
            // loop
            loop: true,
            // false = infinite
            loopCount: 5,
            // show cursor
            showCursor: false,
            // character for cursor
            cursorChar: "|",
            // attribute to type (null == text)
            attr: null,
            // either html or text
            contentType: 'html',
            // call when done callback function
            callback: function () { },
            // starting callback function before each string
            preStringTyped: function () { },
            //callback for every typed string
            onStringTyped: function () { },
            // callback for reset
            resetCallback: function () { }
        });
                /*});*/
    </script>
</body>