
@{
    ViewBag.Title = "Privacy_Policy";
}
<style>
    h2 {
        margin-left: -19px;
    }
   
    p{
        color:black;
        text-align:justify;
        padding:4px
    }
</style>
<div class="container">
    <div class="row">
        <h2><strong>In this policy:</strong></h2>
        <ul>
            <li>“We”, “our” and “us” refer to RDQ Finserv</li>
            <li>“Site” refers to the website, mobile site and the application that we provide and which includes a link to our Online Privacy Policy</li>
            <li>“You” or “your” refers to anyone who visits, accesses, browses or uses the RDQ Finserv website at https://rdqfinserv.com/ or obtains our services through our website.“You” or “your” refers to anyone who visits, accesses, browses or uses the RDQ Finserv website at https://rdqfinserv.com/ or obtains our services through our website.</li>
        </ul>

        <p>
            At RDQ Finserv, which is accessible from https://rdqfinserv.com/, the privacy of our visitors is one of our main priorities. We are strongly committed to protecting all personal and/or financial information that you submit at our website from unauthorised use by implementing security measures in compliance with the applicable laws.<br />
            This Privacy Policy document contains extensive details about the types of information collected and recorded by RDQ Finserv and how we intend to use it. Please contact us if you have additional questions or require additional information about our Privacy Policy.<br />
            This Privacy Policy is applicable for all our ongoing online activities and is also valid for visitors who come to our website and the information that they share and/or collect in RDQ Finserv. Information collected offline or through channels other than this website do not fall under the purview of this Privacy Policy.<br />
        </p>

        <h2><strong>Consent</strong></h2>
        <p>
            By using our website, you hereby provide consent to the terms and conditions mentioned in our Privacy Policy and agree with them.

        </p>
        <h2><strong>Information we collect.</strong></h2>
        <ul>
            <li>Any personal information that you may be required to provide along with the reasons why you are being asked to provide it, will be made clear to you at the point when and if we ask you to provide your personal information.</li>
            <li>If and when you connect with us directly, we might receive certain additional information about you such as, your name, email address, phone number, the contents of the message and/or any attachments that you send to us or any other information that you may choose to provide.</li>
            <li>
                When you register for an Account with us, we may ask you to provide your contact information along with other items like name, company name, address, email address, and telephone number.
            </li>
        </ul>


        <h2><strong>How we use your information</strong></h2>
        <p>The information collected by us is used in various ways to:</p>
        <ul>
            <li>Provide, operate and maintain our website</li>
            <li>Improve, personalize and expand our website</li>
            <li>Understand and analyze ways in which use our website</li>
            <li>Develop new products and services, features and functionalities</li>
            <li>Communicate either directly with you or through one of our partners to provide you with customer service, with updates and other website-related information and for marketing and promotional purposes</li>
            <li>Send you emails</li>
            <li>Find and prevent fraud</li>
        </ul>
        <h2><strong>Log Files</strong></h2>
        <p>
            RDQ Finserv follows a standard procedure of using log files. These files log visitors as and when they visit our website. All companies do this as a part of their service analytics. These log files collect information related to Internet Protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. This information is not linked to any information that is personally identifiable and is collected to analyze trends, administer the site, track user movements on the website and gather demographic information.
        </p>
        <h2><strong>Cookies and Web Beacons</strong></h2>
        <p>Like any other website, RDQ Finserv also uses “cookies”. These cookies store information including visitor preferences and the website pages that the visitors access or visit. This information is used to customize our web page content and optimize user experience based on the visitor’s browser type and/or other such information.</p>
        <h2><strong>Advertising Partners Privacy Policies</strong></h2>
        <p>
            You may consult the list provided to access the individual Privacy Policy of each of the advertising partners associated with RDQ Finserv.
            Third-party ad networks and ad servers use technologies such as cookies, Web Beacons or JavaScript in their respective advertisements. These are also used in the links that appear on RDQ Finserv and those that are sent directly to the user’s browser. When this occurs, your IP address gets automatically transmitted to them. These technologies are mostly used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on the websites that you visit.
            Note that RDQ Finserv has no access to or control over those cookies that are used by third-party advertisers.
        </p>


        <h2><strong>Third-Party Privacy Policies</strong></h2>
        <p>
            RDQ Finserv Privacy Policy does not apply to other advertisers or websites. Thus, for more detailed information, we would advise you to consult the respective Privacy Policies of these third-party ad servers. This information may also include their practices and instructions about how to opt-out of certain options.
            You may choose to disable cookies by accessing your own browser options. Additionally, detailed information about specific web browser cookie management can be found at the respective browser websites.
        </p>
        <br/>
        <h2><strong>Central Consumer Protection Authority Privacy Rights (Do Not Sell My Personal Information)</strong></h2>
        Under CCPA, along with other rights, consumers also have the right to:
        <ul>
            <li>Request that businesses that collect a consumer's personal data disclose the categories and the specifics of personal data collected by that business</li>
            <li>Request that a business deletes any consumer personal data that a business has collected</li>
            <li>Request that a business that is in the business of selling a consumer's personal data not sell the consumer's personal data</li>
        </ul>

        <p> If you make a request, we will respond to your request within a month. Please contact us if you would like to exercise any of the above-mentioned rights.</p>
        <h2><strong>GDPR Data Protection Rights</strong></h2>
        To ensure that you are fully aware of all your data protection rights we would like to enumerate the same. The following entitlements are available to every user:
        <ul>
            <li><strong>The right to access- </strong>You can rightfully request copies of your personal data. We might levy a small fee for this service.</li>
            <li><strong>The right to rectification –</strong>You can rightfully request us to correct any personal information you believe is inaccurate. Additionally, you can also rightfully request us to complete any information that you believe is incomplete.</li>
            <li><strong>The right to erasure –</strong>You can also rightfully request us to erase your personal data, under certain conditions.</li>
            <li><strong>The right to restrict processing –</strong>You can rightfully place the request to restrict us from the processing of your personal data, under certain conditions.</li>
            <li><strong>The right to object to processing –</strong>You are also within your rights to object to our processing of your personal data, under certain conditions.</li>
            <li><strong>The right to data portability –</strong>You can rightfully request that we transfer all your personal information that we have collected either to another organization or directly to you, under certain conditions.</li>
        </ul>


        <p>If you make a request, we will respond to your request within a month. Please contact us if you would like to exercise any of the above-mentioned rights.</p>
        <h2><strong>Children's Information</strong></h2>
        Another part of our priority is to ensure protection for children while using the internet. We encourage parents and guardians of children to observe and participate in monitoring and/or guiding their online activities.
        RDQ Finserv will never knowingly collect any Personal Identifiable Information from children below the age of 13. If you think that your child has divulged any such information on our website, we strongly urge you to contact us immediately. We assure you of prompt action in removing any such information available in our records.

    </div>

</div>

